<section class="signin">
  <header class="signin-header">
    <h1 class="signin-header__title">Profile</h1>

    <nav class="signin-nav">

    </nav>
  </header>

  <div class="signin-social"></div>

  <app-form class="signin-form">
    <div class="form-control">
      <div class="form-control__wrap">
        <app-input label="Your name" name="name"></app-input>
      </div>
    </div>

    <div class="form-control">
      <div class="form-control__wrap">
        <app-input type="email" label="E-mail" name="email"></app-input>
      </div>
    </div>

    <div class="form-control">
      <div class="form-control__wrap">
        <app-input type="tel" label="Phone" name="phone"></app-input>
      </div>
    </div>
  </app-form>
</section>

