$purple-disabled: #E3DAF9;
$purple-primary: #6E41E2;
$purple-hover: #5835B0;
$purple-active: #472C8A;

$white: #fff;
$white-s: rgba(#fff, .88);
$gray-m: #FAFAFA;
$gray-l: #F1F1F1;
$gray-s: #D4D4D4;
$gray: rgba(#D4D4D4, .48);
$gray-k: #6B6B6B;
$black: #111;

$red-girl: #F9E3E3;
$red-boy: #F9E3E3;
$red: #DB524E;
$super-red: #C7302B;

$green: #27AE60;

$blue: #428BF9;
