$shadow: 0 rem(4px) rem(4px) $gray, 0 rem(4px) rem(16px) $gray;
$shadow-hover: 0 rem(4px) rem(4px) $gray, 0 rem(4px) rem(56px) $gray;
$shadow-focus: 0 rem(4px) rem(4px) $gray, 0 rem(4px) rem(24px) $gray;
